/* styles.css */
body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.container {
  background-color: rgb(211, 211, 211);
  padding: 10px;
}

.nav-list {
  list-style: none;
	display: flex;
  padding: 0;
  margin: 0;
}

.nav-item {
  display: inline;
  margin-right: 1rem;
}

.nav-item a {
  text-decoration: none;
  color: black;
}
